<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<p>
  <b>Userid:</b>
  <%= @user.userid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Member of :</b>
  <ul>
  <% @user.memberships.each do |member| %>

    <li id="member_<%= member.id %>">
      <%= member.group.name %>
    <%#link_to image_tag("trash-can-icon.jpg", size: '20x20'),
     :confirm => 'Are you sure?', method: 'delete'%>
     <%= link_to "Leave Group", "http://localhost:3000/memberships/#{member.id}", method: 'delete', remote: true %>
    </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Attending the following events:</b>
  <ul>
  <% @user.attends.each do |attend| %>
      <li id="attend_<%= attend.id %>">
      <%= attend.event.name %>
      <%= link_to "Leave Event", "http://localhost:3000/attends/#{attend.id}", method: 'delete', remote: true %>
    <%#= link_to image_tag("trash-can-icon.jpg", size: '20x20'), attend_url(attend), method: 'delete', remote: true %>      
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
